/* 
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
*/

/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Poppins:wght@500;600;700&display=swap');

/* basic CSS */
body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 17px;
    color: #646464;
    line-height: 1.7;
}
h1,
h2,
h3,
h4 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #212121;
}
.theme-button {
    text-decoration: none;
    background-color: #37806b;
    color: #ffffff;
    border-radius: 15px 0;
    padding: 10px 20px;
    transition: 0.3s;
    display: inline-block;
}
.theme-button:hover {
    background-color: #CAA892;
    color: #ffffff;
}
.design-image {
    position: relative;
    z-index: 1;
}
.design-image::after {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    left: 30px;
    top: 30px;
    z-index: -1;
    border-radius: 140px 0;
    border: 2px solid #CAA892;
}

/* Header Area CSS */
.header-area {
    padding: 30px 0;
}
.header-area .nav-item {
    margin-left: 30px;
}
.header-area .nav-link {
    color: #111111;
    font-weight: 600;
}
.header-area .nav-link.active {
    color: #646464;
}
.header-area .nav-item:last-child {
    margin-left: 45px;
}
.header-area .nav-item:last-child .nav-link {
    background-color: #CAA892;
    color: #ffffff;
    border-radius: 15px 0;
    padding: 10px 20px;
}

@media (max-width: 991px) {
    .header-area {
        text-align: center;
    }
    .header-area .navbar-toggler {
        box-shadow: none;
    }
    .header-area .nav-link {
        padding: 15px 0;
    }
    .header-area .nav-item {
        margin-left: 0;
    }
    .header-area .nav-item:last-child {
        margin-left: 0;
    }
}

/* Hero Area CSS */
.hero-area {
    padding: 70px 0;
}
.hero-text h3 {
    font-size: 20px;
    color: #646464;
}
.hero-text h2 {
    font-size: 68px;
    color: #212121;
}
.hero-text a {
    margin-top: 15px;
}
.hero-image img {
    width: 100%;
    border-radius: 140px 0;
}

@media (max-width: 991px) {
    .hero-area {
        text-align: center;
    }
    .hero-area h2 {
        font-size: 48px;
    }
    .hero-image {
        margin-top: 40px;
    }
}

/* Footer Area Css */
.footer-area {
    background-color: #f8f8f8;
    position: relative;
}
.footer-top {
    padding-top: 90px;
    padding-bottom: 70px;
}
.footer-about img {
    margin-bottom: 18px;
}
.footer-link h3 {
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px;
}
.footer-link ul {
    margin: 0;
    padding: 0;
}
.footer-link ul li {
    list-style: none;
}
.footer-link ul li a {
    display: inline-block;
    padding: 5px;
    text-decoration: none;
    color: #646464;
    transition: 0.3s;
}
.footer-link ul li a:hover {
    color: #37806b;
}
.footer-link address {
    line-height: 2.3;
}
.footer-link .social-link li {
    display: inline-block;
    margin-right: 10px;
}
.footer-link .social-link li a {
    background-color: #d5d5d5;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #ffffff;
    transition: 0.3s;
}
.footer-link .social-link li a:hover {
    background-color: #37806b;
    color: #ffffff;
}
.footer-bottom {
    border-top: 1px solid #c4c4c4;
}
.footer-bottom-text a {
    text-decoration: none;
    color: #37806b;
}
.design {
    position: absolute;
    top: -60px;
}
.design img {
    height: 120px;
}

@media (max-width: 991px) {
    .footer-top {
        text-align: center;
    }
    .footer-top {
        padding-top: 60px;
        padding-bottom: 40px;
    }
    .footer-link {
        margin-top: 25px;
    }
    .design {
        top: -40px;
    }
    .design img {
        height: 80px;
    }
}